body {
    font-family: 'Slackey', cursive;
}

h1 {
    color: #c51f1f;
    font-size:50px;
}

h2 {
    color: #365895;
}

img {
    max-width: 100%;
    height: auto;
}

.lkynumscore {
    font-size: 100px;
}

.winloose {
    font-size: 50px;
}

.well-lg {
    padding:0px;
    background-color: #ffcc01;
}

p {
    color: #2d6aad;
}

#footcolor {
    color: #c51f1f;
}