body {
    font-family: 'Signika Negative', sans-serif;
}

h1, h2 {
    font-family: 'Changa One', cursive;
}

#stats, #images {
    min-height:300px;
}

img {
    max-width: 100%;
    height: auto;
}

.lkynumscore {
    font-size: 100px;
}

.winloose {
    font-size: 50px;
}