body {
    font-family: 'Slackey', cursive;
}

h1 {
    color: #c51f1f;
    font-size:50px;
}

h2 {
    color: #365895;
}

p {
    color: #2d6aad;
}

#footcolor {
    color: #c51f1f;
}

.lkynumscore {
    font-size: 80px;
}

.winloose {
    font-size: 30px;
}

.well-lg {
    padding:0;
    background-color: #ffcc01;
}

.well {
    border-color: white;
    background-color: #8c9bb8;
}

img {
    max-width: 100%;
    height: auto;
}
img:hover {
    transform: scale(1.25);
}


