body {
    font-family: 'Slackey', cursive;
}

h1 {
    color: #c51f1f;
    font-size:50px;
}

h2 {
    color: #365895;
}

p {
    color: #2d6aad;
}

.lkynumscore {
    font-size: 80px;
}

.winloose {
    font-size: 30px;
}

.well-lg {
    padding:0;
    background-color: #ffcc01;
}

.well {
    border-color: white;
    background-color: #8c9bb8;
}

img {
    max-width: 100%;
    height: auto;
}
img:hover {
    transform: scale(1.25);
}

#pagefooter {
    position:fixed;
    bottom:0;
}

/*Make content scale to screen nicely*/
@media all and (max-width: 599px) and (min-width: 320px) {
    .lkynumscore {
        font-size: 20px;
    }
    .winloose {
        font-size: 15px;
    }
    p {
        font-size: 10px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    .col-xs-3 {
        padding:0;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }

}


